build.sh
test-m3-apache.yaml
apache/build.sh
fpm/build.sh
deploy-test-m3-apache.sh

examples/basic/*
!examples/*/.env
!examples/*/.mautic_env

examples/rabbitmq-worker/volumes/*

#!examples/*/docker-compose.yml