# use this file for environment variables that can be used.
# see https://docs.mautic.org/en/5.x/

MAUTIC_DB_HOST="${MYSQL_HOST}"
MAUTIC_DB_PORT="${MYSQL_PORT}"
MAUTIC_DB_DATABASE="${MYSQL_DATABASE}"
MAUTIC_DB_USER="${MYSQL_USER}"
MAUTIC_DB_PASSWORD="${MYSQL_PASSWORD}"

MAUTIC_MESSENGER_DSN_EMAIL="amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_NODE_PORT}/${RABBITMQ_MAIL_VHOST}"
MAUTIC_MESSENGER_DSN_HIT="amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_NODE_PORT}/${RABBITMQ_HIT_VHOST}"
MAUTIC_MESSENGER_DSN_FAILED="amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_NODE_PORT}/${RABBITMQ_FAILED_VHOST}"

# Define the mailer URL specific to your mailer to be used in queue emails
# For example, to use the mailgun mailer, you would set the MAILER_URL as follows:
# SMTP
MAILGUN_SENDINGKEY="<YOUR SENDING KEY>" # e.g.: xxxxxxxx-xxxxxxx-xxxxxxx
MAILGUN_DOMAIN="<YOUR DOMAIN>" # e.g.: sandboxxxxxxxxxxxxxx.mailgun.org
MAILER_URL="mailgun+api://api:key-${MAILGUN_SENDINGKEY}@${MAILGUN_DOMAIN}"

DOCKER_MAUTIC_RUN_MIGRATIONS=false
DOCKER_MAUTIC_LOAD_TEST_DATA=false

